body {
  min-height: 100vh;
}

.router-tab {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
  padding: 0;
  list-style: none;
  position: relative;
}

.router-tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 0;
  border-bottom: none;
}

.router-tab > * {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  padding-left: 20px;
  position: relative;
}

.router-tab>*>a {
    display: block;
    text-align: center;
    padding: 5px 10px;
    color: #999;
    border-bottom: 1px solid transparent;
    font-size: .875rem;
    text-transform: uppercase;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.router-tab>*>a:focus, .router-tab>*>a:hover {
    color: #666;
    text-decoration: none;
}

.router-tab > .router-link-active > a {
    border-bottom: 3px solid #3498DB;
}

.router-tab > .router-link-active > a {
    color: #3498DB;
}

.router-tab > .router-link-active > a {
    color: #333;
    border-color: #3498DB;
}

.router-tab > * > a {
    display: block;
    text-align: center;
    padding: 5px 10px;
    color: #999;
    border-bottom: 1px solid transparent;
    font-size: 0.875rem;
    text-transform: uppercase;
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.uk-card-grey {
  background-color: #fafafa;
}
